{% extends getPartial('page-design') %}

{% block PageBody %}

<div class="home container-max">

	<!-- SLIDER -->
    <div class="row">
        <div class="col">
           <div class="carousel slide pridea-slider" data-interval="5000" data-ride="carousel" id="start-slider">
			    <div class="carousel-inner" id="carousel-content">
			        <div class="carousel-item text-muted active" style="background-image:url('https://www.pridea.de/images/gallery/banner/steinkirch-duschen.jpg');">
			        	<span class="slider-txt bottom right">
			        		Exklusive Duschpaneele von Steinkirch<br>
			        		<a href="https://www.pridea.de/sanitaer/duschpaneele?facets=1" class="slide-button" title="Jetzt anschauen">Jetzt anschauen</a>
			        	</span>
			        </div>
			        <div class="carousel-item text-muted" style="background-image:url('https://www.pridea.de/images/gallery/banner/glas-design-bad-kueche.jpg');">
			        	<span class="slider-txt top left black">
			        		Bad- und Küchenrückwände<br>
			        		<small>Bald auch online erhältlich</small>
			        		<!--<a href="#" class="slide-button">Jetzt anschauen</a>-->
			        	</span>
			        </div>
			        <div class="carousel-item text-muted" style="background-image:url('https://www.pridea.de/images/gallery/banner/regenduschkopf.jpg');">
			        	<span class="slider-txt bottom left">
			        		Großflächige Regenduschköpfe<br>
			        		<a href="https://www.pridea.de/sanitaer/duschkoepfe" class="slide-button" title="Jetzt anschauen">Jetzt anschauen</a>
			        	</span>
			        </div>
			    </div>
			    <a class="left carousel-control" href="#start-slider" data-slide="prev">
			        <i class="icon-prev  fa fa-angle-left"></i>
			    </a>
			    <a class="right carousel-control" href="#start-slider" data-slide="next">
			        <i class="icon-next fa fa-angle-right"></i>    
			    </a>
			</div>
        </div>
    </div>



	<!-- VORTEILE BEI PRIDEA -->
	
	<div id="pridea-vorteile" class="row">
		
		<div class="col-md-3 col-xs-6 margin-top-3 margin-bottom-3">
			<div class="vorteil-item">
				<img src="https://www.pridea.de/images/gallery/startseite/direktversand.png" alt="Direktversand" title="Direktversand bei Werktagsbestellungen bis 14 Uhr" width="60" height="60"/>
				<p class="vorteil-subtitle"><strong>Direktversand</strong> bei Werktagsbestellungen bis 14 Uhr</p>
			</div>
		</div>
		<div class="col-md-3 col-xs-6 margin-top-3 margin-bottom-3">
			<div class="vorteil-item">
				<img src="https://www.pridea.de/images/gallery/startseite/kompetente-beratung.png" alt="Kompetente Beratung" title="Kompetente Beratung von ausgebildeten Service-Fachkräften" width="60" height="60"/>
				<p class="vorteil-subtitle"><strong>Kompetente Beratung</strong> von ausgebildeten Service-Fachkräften</p>
			</div>
		</div>
		<div class="col-md-3 col-xs-6 margin-top-3 margin-bottom-3">
			<div class="vorteil-item">
				<img src="https://www.pridea.de/images/gallery/startseite/deutsche-qualitaet.png" alt="Deutsche Qualität" title="Steinkirch überzeugt mit Deutscher Qualität" width="60" height="60"/>
				<p class="vorteil-subtitle">Unsere Hausmarke Steinkirch überzeugt mit <strong>Deutscher Qualität</strong></p>
			</div>
		</div>
		<div class="col-md-3 col-xs-6 margin-top-3 margin-bottom-3">
			<div class="vorteil-item">
				<img src="https://www.pridea.de/images/gallery/startseite/auszeichnung.png" alt="Seit über 15 Jahren" title="Pridea Products ist seit über 10 Jahren auf dem Markt vertreten" width="60" height="60"/>
				<p class="vorteil-subtitle">Pridea Products ist <strong>seit über 10 Jahren</strong> auf dem Markt vertreten</p>
			</div>
		</div>
		
	</div>

	<span class="span-title">Unser Produktangebot</span>

	<div class="category-grid-wrap">
		<a href="https://www.pridea.de/sanitaer/duschpaneele" title="Duschpaneele kaufen">
			<div class="category-grid xl" style="background-image:url('https://www.pridea.de/images/gallery/startseite/duschpaneele-mit-deutscher-qualitaet.jpg');">
				<span>Duschpaneele</span>
			</div>
		</a>

		<a href="https://www.pridea.de/dekoration/weihnachtsdekoration" title="Weihnachtsdekoration kaufen">
			<div class="category-grid" style="background-image:url('https://www.pridea.de/images/gallery/startseite/weihnachtliche-deko-highlights.jpg');">
				<span>Weihnachtsdeko</span>
			</div>
		</a>

		<a href="https://www.pridea.de/sanitaer/duschsysteme" title="Duschsysteme kaufen">
			<div class="category-grid" style="background-image:url('https://www.pridea.de/images/gallery/startseite/moderne-duschsysteme.jpg');">
				<span>Duschsysteme</span>
			</div>
		</a>

		<a href="https://www.pridea.de/beleuchtung/gartenleuchten" title="Gartenleuchten kaufen">
			<div class="category-grid" style="background-image:url('https://www.pridea.de/images/gallery/startseite/stimmungsvolle-gartenleuchten.jpg');">
				<span>Gartenleuchten</span>
			</div>
		</a>

		<a href="https://www.pridea.de/sanitaer/armaturen" title="Armaturen kaufen">
			<div class="category-grid" style="background-image:url('https://www.pridea.de/images/gallery/startseite/armaturen-und-thermostate.jpg');">
				<span>Armaturen / Thermostate</span>
			</div>
		</a>

		<a href="https://www.pridea.de/dekoration/weihnachtsdekoration/weihnachtslichterketten/" title="Lichterketten kaufen">
			<div class="category-grid" style="background-image:url('https://www.pridea.de/images/gallery/startseite/lichterketten-und-lichterdraethe.jpg');">
				<span>Lichterketten</span>
			</div>
		</a>

		<a href="https://www.pridea.de/sanitaer/solarduschen" title="Solarduschen kaufen">
			<div class="category-grid" style="background-image:url('https://www.pridea.de/images/gallery/startseite/solarduschen-fuer-den-garten.jpg');">
				<span>Solarduschen</span>
			</div>
		</a>

		<a href="https://www.pridea.de/poolzubehoer" title="Pool-Zubehör kaufen">
			<div class="category-grid" style="background-image:url('https://www.pridea.de/images/gallery/startseite/zubehoer-fuer-den-pool.jpg');">
				<span>Pool-Zubehör</span>
			</div>
		</a>

		<a href="https://www.pridea.de/sanitaer/duschkoepfe" title="Duschköpfe kaufen">
			<div class="category-grid" style="background-image:url('https://www.pridea.de/images/gallery/startseite/regenduschkoepfe-der-superlative.jpg');">
				<span>Duschköpfe</span>
			</div>
		</a>

		<div class="clear"></div>
	</div>

	<!-- FALLS VORHANDEN: SHOP-BUILDER -->

	<div class="home container-max">
        <div class="row">
            <div class="col">
                {% for content in container("Ceres::Homepage") if content.plugin == "Plenty" %}
                    {{ content.result|raw }}
                {% endfor %}
            </div>
        </div>
    </div>





    <!-- DUSCHPANEEL TEXT -->

    <div class="row ratgeber-text">
    	<div class="col">
    		 <h1>Duschpaneele, Duschköpfe, Armaturen und Living-In und –Exterieur</h1>
			<p>
				Mit unseren Duschpaneelen hat alles angefangen. Mit den Erfahrungen der letzten 15 Jahre konnten wir eine Duschpaneel-Produktlinie entwickeln, die allen Ansprüchen gewachsen ist. Unsere Hausmarke Steinkirch bietet Ihnen dabei nicht nur die gewohnten, extravaganten Designs, sondern vereint diese auch mit hochwertiger, deutscher Qualität. Auf Grundlage unserer ausgereiften Erfahrung reicht unser Sortiment im Sanitär-Bereich mittlerweile bereits wesentlich weiter. Steinkirch bietet Ihnen mittlerweile auch Duschköpfe, Armaturen, Duschsysteme und Gartenduschen. Unsere Steinkirch Produkte sind international erfolgreich und allen Herausforderungen gewachsen.
			</p>

			<h2>Dekoration und Beleuchtung</h2>
			<p>
				Neben unserem Angebot im Sanitär-Bereich können Sie in unserem Onlineshop auch Dekoration und Beleuchtung kaufen. Durch unsere Spezialisierung auf moderner LED-Technologie sind diese beiden Komponenten meistens gleich vereint. Mit unseren stilvollen Leuchtelementen wie zum Beispiel den Garten-Kugelleuchten sorgen Sie dafür, dass sich nicht nur Ihr Badezimmer, sondern auch der Rest des Hauses mit Stilbewusstsein rühmen darf. Besonders am Abend und in der Nacht schaffen bewusst eingesetzte Leuchtobjekte eine tolle Atmosphäre in Haus und Garten.
			</p>

			<h3>Vorteile von Ihrem Einkauf bei Pridea</h3>
			<p><strong>Günstig direkt vom Hersteller einkaufen</strong><br />
			In unserem Onlineshop kaufen Sie direkt bei uns als Hersteller. Bei uns erhalten Sie also zwangsläufig immer die günstigsten Preise, da Sie keine Zwischenhändler bezahlen müssen. 
			</p>
			
			<p><strong>Kompetenter Service vor, während und nach Ihrem Einkauf</strong><br />
			Unser Unternehmen beschränkt sich in seiner Produktauswahl nur auf die Dinge, die wir auch wirklich gut können. So können wir Ihnen vor, während und nach Ihrem Einkauf geschultes Fachpersonal zur Seite stellen. Egal ob Sie Fragen zur Montage haben oder nur einen Rat brauchen welches Produkt zu Ihren Wünschen am besten passt. Unsere Serviceabteilung freut sich über jede Rückmeldung und steht Ihnen Montag bis Freitag täglich zur Verfügung.
			</p>
			
			<p><strong>Wir sind auch offline vertreten</strong><br />
			Neben unserem Onlineshop, liegt uns auch der direkte Austausch mit unseren Kunden sehr am Herzen. Deshalb bieten wir Ihnen nicht nur unseren modernen Onlineshop, sondern auch zahlreiche Möglichkeiten unsere Produkte im echten Leben vorab zu begutachten. Dafür haben wir Ihnen zum Beispiel an unserem Unternehmenssitz in Moers (Nordrhein-Westfalen) eine Duschpaneel-Ausstellung aufgebaut. Außerdem besuchen wir mit unseren Produkten und ausgewählten Service-Fachkräften regelmäßig diverse Messen. Wenn Sie uns auf einer Messe besuchen möchten, bleiben Sie mit unserer Facebook-Seite immer auf dem neusten Stand. Dort kündigen wir unsere Ausstellungen immer rechtzeitig an.
			</p>


			<div class="google-maps">
			    <div class='embed-container'><iframe src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.1443451554183!2d6.61571245175635!3d51.455506179526566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b8bd1f8796cb35%3A0x4a608e68510937f0!2sPridea+Products!5e0!3m2!1sde!2sde!4v1474190687733' width='600' height='450' frameborder='0' style='border:0'></iframe></div>
			</div>
    	</div>
    </div>

</div>

{% endblock %}